<!DOCTYPE html>
<html>
<head>
    <title>Medical Data Storage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('edit_medical_data') }}">Edit Medical Data</a></li>
                    <li><a href="{{ url_for('add_medical_data') }}">Add Medical Data</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Prototype made for Hacks 8.0 by team Alpha-Q</p>
    </footer>
    
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>
